<div class="container mt-4">

  <h5 class="pt-4 mb-4">Converter vídeo em imagens</h5>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fileInput" class="form-label">Escolha um ou mais arquivos:</label>
      <input 
        type="file" 
        id="fileInput" 
        class="form-control" 
        (change)="onFileChange($event)" 
        multiple
      />
    </div>
    <button 
      type="submit" 
      class="btn btn-primary mt-4 w-25"
      [disabled]="loading"
    >
      Enviar
    </button>
  </form>

  <div class="d-flex justify-content-center mt-3" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

</div>