<div class="container mt-4">
  
  <div *ngIf="!userName" class="d-flex justify-content-between align-items-start">
    <h4>.</h4>
    <button 
      (click)="loginWithGoogle()" 
      class="btn btn-light w-25"
      *ngIf="!userName"
    >
      Login com Google
    </button>
  </div>
  
  <div *ngIf="userName" class="d-flex justify-content-between align-items-start">
    <h4 class="texto-branco">{{ userName }}</h4>
    <button 
      (click)="logout()" 
      class="btn btn-light w-25"
      *ngIf="userName"
    >
      Logout
    </button>
  </div>
  
</div>
